[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
nibabel = "*"
scipy = "*"
joblib = "*"
snakemake = "*"
ipykernel = "*"
requests = "*"
jupyterlab = "*"
datalad = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
